#!/bin/sh
# 
# Configure SSH key if not cloudinit
# Copyright 2015 Bitnami.com All Rights Reserved
#

. /opt/bitnami/scripts/init/functions

if cloud_init_check ; then exit 0; fi

DEFAULT_USER="bitnami"
DEFAULT_HOME="/home/$DEFAULT_USER"

if ( run_once_check "ssh_config" ); then 
  
  if [ ! -d $DEFAULT_HOME/.ssh ] ; then
    mkdir -p $DEFAULT_HOME/.ssh
    chown $DEFAULT_USER:$DEFAULT_USER $DEFAULT_HOME/.ssh
    chmod 0700 $DEFAULT_HOME/.ssh
  fi

  key_content=`get_metadata "public-keys/0/openssh-key"`
  if [ $? -eq 0 ]; then 
    # Configure the default user account
    echo $key_content >> $DEFAULT_HOME/.ssh/authorized_keys
    chown $DEFAULT_USER:$DEFAULT_USER $DEFAULT_HOME/.ssh/authorized_keys
    chmod 600 $DEFAULT_HOME/.ssh/authorized_keys

    # Disable root account
    mkdir -p /root/.ssh
    echo "command=\"echo 'Please login as the bitnami user rather than root user.'; echo; sleep 10\" $key_content" > /root/.ssh/authorized_keys
    chown root:root /root/.ssh
    chown root:root /root/.ssh/authorized_keys
    chmod 600 /root/.ssh/authorized_keys
  else
    exit 1
  fi
  
fi

